.node {
	width: 25px;
	height: 25px;
	outline: 1px solid var(--clr-node-outline);
	display: inline-block;
}

.wall {
	background-color: var(--clr-wall-node);
}

.start {
	background-color: var(--clr-start-node);
}

.target {
	background-color: var(--clr-target-node);
}

.visited {
	animation: visitAnimation 1.5s ease-out forwards;
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.3);
		background-color: hsla(240, 100%, 13%, 0.75);
		border-radius: 100%;
	}

	50% {
		background-color: rgba(17, 104, 217, 0.75);
	}

	75% {
		transform: scale(1.2);
		background-color: rgba(0, 217, 159, 0.75);
	}

	100% {
		transform: scale(1);
		background-color: rgba(0, 190, 218, 0.75);
	}
}

.cell-shortest-path {
	background-color: var(--clr-node-shortest-path);
	animation: shortestPath 1.5s ease-out forwards;
}

@keyframes shortestPath {
	0% {
		transform: scale(0.6);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
